@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

body{
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
}

p{
	margin: 5px 0;
}

h2{
	margin: 5px 0;
}
.menu{
	position: relative;
	text-align: center;
	color: #A2A2A2;
	padding: 15% 0;
}
.menu h2{
	color: #fff;
	font-size: 30px;
	margin-bottom: 4px;
	margin-top: 50px;
}
.bg-entrada{
	background-image: url("../img/nachos.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.23);
}
.texto{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.texto-menu{
	position:absolute;
	width: 90%;
	bottom: 0;
	background-color: #fba92c;
	text-align: left;
	padding: 2px 5%;
	font-size: 12px;
	color: #fff;
	font-weight: 200;
}
.precio-menu{
	position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #000;
    padding: 10px 10px;
	margin: -20px 0;
    bottom: 25px;
    right: 30px;
    color: #fff;
    display: grid;
    align-content: center;
	font-weight: 500;
	font-size: 16px;
}
.bg-desayuno{
	background-image: url("../img/burrita.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;
}
.bg-tortas{
	background-image: url("../img/monster.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;
}
.bg-tacos{
	background-image: url("../img/tacosres.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;
}
.bg-combos{
	background-image: url("../img/dupla.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;
}

.img-fluid{
	max-width: 100%;
}

.hero-entrada{
	background-image: url("../img/nachos.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-entrada h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 17% 0 0 0;
}
.hero-entrada p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.hero-papas{
	background-image: url("../img/papas.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-pollo{
	background-image: url("../img/conpollo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-aros{
	background-image: url("../img/aros.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-nachos{
	background-image: url("../img/nachos.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-alitas{
	background-image: url("../img/alitas.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}

.hero-bf{
	background-image: url("../img/burrita.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-bf h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 10% 0;
}
.hero-bf p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.hero-tortilla{
	background-image: url("../img/tortillitas.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-burrita{
	background-image: url("../img/burrita.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-baleada{
	background-image: url("../img/baleadas.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-gringa{
	background-image: url("../img/gringas.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.texto-menu-bf{
	position:absolute;
	width: 100%;
	bottom: 0;
	background-color: #06a6a6;
	text-align: left;
	padding-left: 5%;
	font-size: 12px;
	color: #fff;
	font-weight: 200;
}

.hero-tortas{
	background-image: url("../img/monster.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-tortas h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 10% 0;
}
.hero-tortas p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.hero-monster{
	background-image: url("../img/monster.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-cubano{
	background-image: url("../img/cubano.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-cochinita{
	background-image: url("../img/tortass.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-pechuga{
	background-image: url("../img/pechu.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.texto-menu-ts{
	position:absolute;
	width: 100%;
	bottom: 0;
	background-color: #e64738;
	text-align: left;
	padding-left: 5%;
	font-size: 12px;
	color: #fff;
	font-weight: 200;
}
.hero-tacos{
	background-image: url("../img/tacoss.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-tacos h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 10% 0;
}
.hero-tacos p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.hero-rez{
	background-image: url("../img/tacoss.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-polluelos{
	background-image: url("../img/tacos.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-gorditos{
	background-image: url("../img/tacoscerdo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}

.texto-menu-tc{
	position:absolute;
	width: 100%;
	bottom: 0;
	background-color: #f05323;
	text-align: left;
	padding-left: 5%;
	font-size: 12px;
	color: #fff;
	font-weight: 200;
}
.hero-combos{
	background-image: url("../img/dupla.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-combos h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 10% 0;
}
.hero-combos p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.hero-dupla{
	background-image: url("../img/dupla.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-pami{
	background-image: url("../img/combo2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}
.hero-nosotros{
	background-image: url("../img/somos.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25% 0;
	text-align: center;
	position: relative;
}

.hero-nosotros h2{
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	padding: 17% 0 0 0;
}
.hero-nosotros p{
	font-size: 12px;
	font-weight: 300;
	color: #E4CEAC;
}
.texto-menu-cm{
	position:absolute;
	width: 100%;
	bottom: 0;
	background-color: #50b963;
	text-align: left;
	padding-left: 5%;
	font-size: 12px;
	color: #fff;
	font-weight: 200;
}

.menu-entrada{
	font-size: 12px;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #fff;
	background-color: #000;
}

.list-menu{
	margin-top: 0 !important;
	color: #c7c7c7;
	font-size: 14px !important;
}
.list-menu .item-header{
	color: #827b76;
	font-weight: 600 !important;
	font-size: 20px !important;
	margin-bottom: 2px 0;
}
.list-menu .item-footer{
	color: #1AA575 !important;
	font-weight: 400 !important;
	margin-bottom: 2px 0;
}

.navbar,
.toolbar{
	background-color: #000 !important;
}

.btn-negro{
	background-color: #fff!important;
	color: #000 !important;
	display: block !important;
	text-align: center;
	width: 50% !important;
	border-radius: 0 !important;
	margin-left: 25%;
}




.popup-confirm{
	color: #ccc;
	text-align: center;
}
.icon-done{
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 100%;
	background-color: #c9f4c9;
	color: #fff;
	text-align: center;
	margin: auto;
	display: block;
}
.icon-done i{
	font-size: 60px;
}

#info {
	background-color: #000;
}
#info .contenido{
	color: #fff;
	text-align: center;
	font-weight: 200;
	text-transform: capitalize;
}
#info .img{
	width: 50%;
	height: 50%;
	margin-left: 25%;
	padding-bottom: 10%;
}

#info .contenido h2{
	color: #fff;
	text-align: left;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 14px;
}
#info .contenido .nombres{
	color: #fff;
	text-align: left;
	font-weight: 200;
	text-transform: capitalize;
	font-size: 12px;
}
#prep .ig{
	color: #fff;
	text-align: center;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
}
#prep .fb{
	color: #fff;
	text-align: center;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
}
#prep .wha{
	color: #fff;
	text-align: center;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	margin-left: 20%;
}
#prep .item-media{
	font-size: 45px;
	margin-left: 20%;
	color: #fff;
}

.md .navbar~* .page-content, .md .navbar~.page-content {
	background-color: #000;
	padding-top: 45px;
}
